html, body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px; 
    font-family: Helvetica;
}


.title {
    background-image: url("../../image/falconheavy/heavy.webp");
    background-size: cover;
    background-position-x: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.title h1{
    margin-top: -4%;
    font-size: 10vh;
}
.title p{
    margin-top: -2%;
    font-size: medium;
}

.detail-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(0, 0, 0);  
}

.numbers {
    background-color: black;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-content: space-around;
    font-weight: 400;
    font-style: normal;
    font: 60px/60px D-DIN-Light,Arial,Verdana,sans-serif;
    color:white;
    width: 100%;
    height: 100%;
}

.detail {
    width: 100%;
    background-image: url("../../image/falconheavy/rocket2.webp");
    background-size: cover;
    background-repeat: space;
    background-position-x: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
}

.d-info {
    background-color: hsla(0, 0, 0, 0);
    color: rgb(225, 225, 225);
}

.left-alight {
    text-align: left;
}

.empty {
    height: 100%;
    width: 40%;
    background-color: #ffffff00 ;
}

@media screen and (max-width:1025px){
    .detail-container{
        height: 150vh;
    }

    .numbers{
        height: 16.66%;
        width: 90%;
    }

    .detail {
        height: 50%;
    }

    .d-info {
        margin-bottom: -125vh;
        height: 66.66%;
        width: 100%;
    }

    .empty {
        display: none;
    }
}

@media screen and (min-width: 1025px){
    .detail-container{
        height: 133.33vh;
    }

    .numbers {
        height: 25%;
        width: 75%;
    }

    .detail {
        height: 75%;
    }

    .d-info {
        height: 50%;
        width: 40%;
    }
}